* {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

.logo {
  padding: 10px 5px 10px 20px;
  text-align: left;
}

.logo a {
  text-decoration: none;
}

.logo table {
  border-collapse: collapse;
}

.logo table td {
  font-family: Ultra, serif;
  font-size: x-large;
  padding: 0;
  line-height: 20px;
}

.logo .symbol {
  color: #8ecdc5;
  font-size: large;
  padding-right: 4px;
}

.logo .dot {
  color: #e84327;
  text-align: center;
}

.logo .pronunciation a {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 16px;
  padding-left: 10px;
  text-decoration: none;
  color: #5285c5;
  line-height: 20px;
}

.menu {
  font-size: large;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0 30px 0 30px;
  text-decoration: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 5
}

.hamburger {
  /* positions the hr below the hamburger */
  padding: 0 0 23px 0;
  text-align: right;
}

.content {
  padding-left: 120px;
  padding-right: 120px;
  font-size: 20px;
}

.content .post-list a:link {
  text-decoration: none;
}

.content .post-list a:visited {
  text-decoration: none;
}

.content .post-list a:hover {
  text-decoration: underline;
}

.content .post-list a:active {
  text-decoration: underline;
}

.content .post-title, h1 {
  font-family: Roboto-Condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: Roboto-Condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
}

h3 {
  font-family: Roboto-Condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.content .post-date {
  font-size: 15px;
}

.content .share-post {
  font-size: 20px;
}

.content .post-date a:hover {
  text-decoration: none;
}

.content .post-date a:active {
  text-decoration: none;
}

.content .post-comments {
  font-size: 15px;
}

.content .post-comments .header {
  font-size: 20px;
}

.content button {
  width: 120px;
}

.content hr {
  height: 1px;
  margin: 16px 0;
}

.content code {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
}

.content code span {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
}

.no-decoration {
  text-decoration: none;
}

.w3-padding-8 {
  padding: 8px 0 8px 0;
}

.w3-bold {
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .menu-item {
    margin: 0 15px 0 15px;
  }
}

@media all and (max-width: 600px) {
  .logo {
    padding: 10px 5px 10px 10px;
  }

  .menu-item {
    margin: 0 20px 0 20px;
  }

  .content {
    padding: 10px;
  }
}

hr {
  padding: 0;
  border: none;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  color: #333;
  text-align: center;
  margin: 0;
}

/* uncomment for an image in the center of the hr */
/*hr:after {*/
  /*content:" ";*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*top: -2.1em;*/
  /*font-size: 1.5em;*/
  /*padding: 19px 1.75em;*/
  /*background: #fff url(image/cartoon_1.png) no-repeat scroll center;*/
  /*background-size: 90px 90px;*/
  /*height: 50px;*/
/*}*/

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 0px 1px #ccc;
}

figcaption {
  font-size: 15px;
}

.first-published {
  color: #8a8a8a;
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.tooltip {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: max-content;
  opacity: 0.60;
  color: white;
}
